{% load static %}

<!DOCTYPE html>
<html lang="en"> 
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Login</title>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'CSS/style12.css' %}">
</head> 
<body style="background-color: #f8f8f9">

<header class="head"> 
<div class="header">
<div class="logo">
<h1>COVID-19</h1>      
</div> <nav>              
<a href="{% url 'home:home' %}">Home</a>

        <a href="{% url 'accounts:signup' %}">SignUp</a>
        {% if request.user %}
        <a href="{% url 'accounts:login' %} ">LogIn</a>
        {% else %}
        <a href="{% url 'accounts:logout' %} ">LogOut</a>
        {% endif %}
</nav>
    </div> 
        </header>
     <div class="back">
        <div class="container">
            <div class="part">
            <div class="part1"></div>
             <div class="part2">
        <form id="msform" method="POST" action="{% url 'accounts:Loggin_in' %}">
          {% csrf_token %}
            <h2>login</h2>
            <label class="form1" for="Log_UserName_Input">User Name :</label>
            <input  type="text" name="Log_UserName_Input" placeholder="Ahmed_Dr" required >
            <label class="form1" for="Log_Password_Input">Password :</label>
            <input type="password" name="Log_Password_Input" id="myInput" placeholder="Password" required >
            <div class="chekp">
            <input type="checkbox" onclick="myFunction()" class="checkbox1"><p>Show Password </p> </div>
            <input type="submit" value="Login" required>
            <a href="{% url 'accounts:signup' %} ">
            <input type="button" value="SIGN UP" onclick="displaySighnUp()" required>
            </a>
            
            </form>
        </div></div>
    </body>
</html>